{% extends "base.html" %}
{% load tracks %}
{% load play %}

{% block jquery %}

{% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <h1>{{ album.name }} <small> {{ album.artist.name }}</small>
        {% play_button album css_classes='btn btn-default' label='Play Album' %}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <img src='{{ album.art_url }}' class='album-image' alt=''/>
  </div>
  <div class="col-md-9">
    <table class="table table-striped album-table">
      <tr>
      	<th class='play-col'></th>
      	<th class='num-col'>#</th>
      	<th>Name</th>
      	<th class='play-col'></th>
      	<th class="rating-col"></th>
      </tr>
      {% for track in tracks %}
        <tr>
        	<td class='play-col'>
                {% play_button track %}
            </td>
        	<td class='num-col'>{{ track.track_no }}</td>
        	<td>{{ track.name }}</td>
        	<td>{{ track|track_rating_thumb }}</td>
        	<td class='play-col'><a href='{% url "play" 'track_enqueue' track.id %}' title="Enqueue"> + </a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
