{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>

<title>Play Pi</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-slider.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css" media="screen" />

<script src="{% get_static_prefix %}js/jquery.min.js"></script>
<script src="{% get_static_prefix %}js/bootstrap.js"></script>
<script src="{% get_static_prefix %}js/bootstrap-slider.min.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="{% get_static_prefix %}img/favicon.ico" />

<link rel='apple-touch-icon-precomposed' href='{% get_static_prefix %}img/apple-touch-icon.png' />

<script>
$(document).ready(function() {
  var currentStatus = "";
  $('#search-box').keyup(function() {
    $('.thumbnail').each(function(){
        if($(this).attr('name').toLowerCase().indexOf($('#search-box').val().toLowerCase()) == -1){
            $(this).parent().hide();
        }else{
            $(this).parent().show();
        }
    });
  });
  
  $(".thumbnail h3").wrapInner("<span>");
  $(".thumbnail h3 br").before("<span class='spacer'>").after("<span class='spacer'>");

  function ajax(toggle){
    $.ajax("/ajax/"+toggle+"/",{ type: "GET" }).always(function (response) {
      results = JSON.parse(response['responseText']);
      fetchCurrentlyPlaying();
      
      if(toggle === "random" || toggle === "repeat"){
        $("#"+toggle+"-button").toggleClass('btn-highlight');
      }
    });
    return false;
  }

  $('#random-button').click(function(e){
      e.preventDefault();
      ajax("random");
  });
  $('#stop-button').click(function(e){
      e.preventDefault();
      ajax("stop");
  });
  $('#repeat-button').click(function(e){
      e.preventDefault();
      ajax("repeat");
  });
  $('#pause-button').click(function(e) {
    ajax("pause");
    $("#play-button").show();
    $("#pause-button").hide();
  });
  $('#play-button').click(function(e) {
    ajax("play");
    $("#play-button").hide();
    $("#pause-button").show();
  });
  $("#next-button").click(function(e) {
    ajax("next");
  });
  $("#previous-button").click(function(e) {
    ajax("previous");
  });
  var currentTimeout = setTimeout(fetchCurrentlyPlaying, 5000);
  function fetchCurrentlyPlaying() {
    clearTimeout(currentTimeout);
    $.ajax("/ajax/current_song",{type: "GET"}).always(function(data) {
      currentTimeout = setTimeout(fetchCurrentlyPlaying, 5000);
      
      var data = JSON.parse(data['responseText']);
      $("#current-song-album").text(data.album);
      $("#current-song-title").text(data.title);
      $("#current-song-artist").text(data.artist);
      currentStatus = data.state;
      if((!data.album && !data.title && !data.artist) || currentStatus === "stop") {
        $("#current-song").hide();
      } else {
        $("#current-song").show();
      }
      
      if(currentStatus === "play") {
        $("#play-button").hide();
        $("#pause-button").show();
      } else if (currentStatus === "pause") {
        $("#play-button").show();
        $("#pause-button").hide();
      } else {
        $("#play-button").hide();
        $("#pause-button").hide();
      }
    });
  }
  $("#current-song").hide();
  $("#play-button").hide();
  fetchCurrentlyPlaying();
});
</script>

</head>
<body>

<div id='content'>
{% include 'overview.html' %}
<div class='container'>

{% block content %}
  Hello World
{% endblock %}
<p>Google Play Music Control Station</p>

</div>

</div>

</body>
</html>
