<header class="jumbotron" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Play Pi</h1>
                <a class='nav-link' href='{% url "home" %}'>
                    <i class='glyphicon glyphicon-user'></i> Artists
                </a>
                <a class='nav-link' href='{% url "albums" %}'>
                    <i class='glyphicon glyphicon-record'></i> Albums
                </a>

                <a class='nav-link' href='{% url "playlists" %}'>
                    <i class='glyphicon glyphicon-list'></i> Playlists
                </a>

                <a class='nav-link' href='{% url "radios" %}'>
                    <i class='glyphicon glyphicon-bullhorn'></i> Radio
                </a>
            </div>
            <div class="col-md-4">
                <div id="current-song">
                    Now playing:<br/>
                    <span id="current-song-title"></span><br/>
                    <span id="current-song-artist"></span> - <span id="current-song-album"></span><br/>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'playback_controls.html' %}
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                {% if view == 'album' and artist %}
                    <ol class="breadcrumb pull-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">{{ artist.name }}</li>
                    </ol>
                {% elif view == 'single_playlist' %}
                    <ol class="breadcrumb pull-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'playlists' %}">Playlists</a></li>
                        <li class="active">{{ playlist.name }}</li>
                    </ol>
                {% elif view == 'single_album' %}
                    <ol class="breadcrumb pull-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'artist' album.artist.id %}">{{ album.artist.name }}</a></li>
                        <li class="active">{{ album.name }}</li>
                    </ol>
                {% endif %}
            </div>
        </div>
    </div>
</header>