{% extends "base.html" %}
{% load tracks %}
{% load play %}

{% block jquery %}

{% endblock %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <h1>{{ playlist.name }} <a class='btn btn-default' href='{% url "play" 'playlist' playlist.id %}'>▶ Play Playlist</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <img src='{% firstof playlist.art_url ' /static/img/banner.png ' %}' class='album-image' alt=''/>
  </div>
  <div class="col-md-9">
  <table class="table table-striped album-table">
    <tr>
    	<th class='play-col'></th>
    	<th>Name</th>
        <th>Artist</th>
        <th class='rating-col'></th>
        <th class='play-col'></th>
    </tr>
    {% for track in tracks %}
      <tr>
      	<td class='play-col' id="{{ track.html_id }}">
            {% play_button track %}
        </td>
      	<td>{{ track.name }}</td>
        <td>{{ track.artist.name }}</td>
        <td>{{ track|track_rating_thumb }}</td>
        <td class='play-col'><a href='{% url "play" 'track_enqueue' track.id %}' title="Enqueue"> + </a></td>
      </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
