<div class="col-md-offset-5 col-md-6" style=" margin: 0 auto; text-align: center; float:none;">
    <div class="btn-group">
        <button type="button" class="btn btn-default" href="#" id="previous-button">
            <i class='glyphicon glyphicon-backward'></i>
        </button>
        <button type="button" class="btn btn-success" href="#" id="play-button">
            <i class='glyphicon glyphicon-play icon-white'></i>
        </button>
        <button type="button" class="btn btn-primary" href="#" id="pause-button">
            <i class='glyphicon glyphicon-pause icon-white'></i>
        </button>
        <button type="button" class="btn btn-default" href="#" id="next-button">
            <i class='glyphicon glyphicon-forward icon-white'></i>
        </button>
        <button type="button" class="btn {% if mpd_status.random == '1' %}btn-highlight{% endif %} btn-default"
                href='{% url "random" %}' id='random-button'>
            <i class='glyphicon glyphicon-random icon-white'></i>
        </button>
        <button type="button" class="btn {% if mpd_status.repeat == '1' %}btn-highlight{% endif %} btn-default"
                href='{% url "repeat" %}' id='repeat-button'>
            <i class='glyphicon glyphicon-repeat icon-white'></i>
        </button>
        <button type="button" class="btn btn-default" id='volume-button'>
            <i class='glyphicon glyphicon-volume-up icon-white'></i>
            <input id="volume-slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ mpd_status.volume }}"/>
        </button>
    </div>
</div>

<script language="JavaScript">
$('#volume-slider').slider({
	formatter: function(value) {
		return 'Volume: ' + value;
	}
});
$('#volume-slider').on('slideStop', function (event) {
    var volume = event.value;
    $.get('/ajax/volume/' + volume);
});
</script>