{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>All tracks</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped album-table">
            <tr>
                <th class='play-col'></th>
                <th>Name</th>
                <th>Artist</th>
                <th class='play-col'></th>
            </tr>
            {% for track in object_list %}
                <tr id="track-{{ track.id }}">
                    <td class='play-col'><a href='{% url "play" 'track' track.id %}#track-{{ track.id }}'>▶</a></td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.artist.name }}</td>
                    <td class='play-col'><a href='{% url "play" 'track_enqueue' track.id %}#track-{{ track.id }}' title="Enqueue"> + </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <div class="col-md-offset-3">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
{% endblock %}
